@charset "UTF-8";
/* CSS Document */


#slideshowWrapper{
	margin-top: -291px;
}

#slideshow{
z-index: -1;
}

#fssPrev{
position:absolute;top:0;left:280px;background:url(arrows.png) -67px 0px;width:67px;height:143px;text-indent:-999999px; z-index: 2000;
}
#fssNext{position:absolute;top:700px;left:-200px;width:67px;height:143px;text-indent:-999999px;}
#fssPlayPause{position:absolute;top:435px;right:20px;padding:4px 0 5px 0;-moz-border-radius:5px;border-radius:5px;width:60px;text-align:center;display:block;color:#333;text-decoration:none;}

ul#slideshow{list-style:none;margin:0; margin-top: 0;width:640px;height:480px;overflow:hidden; padding-left: 0;}
#fssList{float: left; list-style:none; margin-top: -80px; margin-left: 260px;;padding:5px 0 0 0; z-index: 2000; text-align: center; font-family: Arial; font-size: 10pt}
#fssList li{display:inline;padding-right:10px;}
#fssList li a{color:#999;text-decoration:none;}
#fssList li.fssActive a{font-weight:bold;color:#97D1D2;}

#top{background:#3b5998;width:100%;height:40px;margin-bottom:20px;}
#top h1{color:#fff;font-weight:normal;font-size:18px;padding:7px 0 0 15px}
#top h1 span{font-size:11px;}
#top h1 a{text-decoration:underline;color:#fff;}
#top h1 a:hover{text-decoration:none;}

small a{color:#000;}